# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

   id        date      station  prcp  tobs
0   1  2010-01-01  USC00519397  0.08  65.0
1   2  2010-01-02  USC00519397  0.00  63.0
2   3  2010-01-03  USC00519397  0.00  74.0
3   4  2010-01-04  USC00519397  0.00  76.0
4   5  2010-01-06  USC00519397   NaN  73.0

In [3]:
# Convert the date column format from string to datetime
df['date'] = df['date'].astype('datetime64[ns]')

In [4]:
# Set the date column as the DataFrame index
df = df.set_index(df['date'])

In [5]:
# Drop the date column
df = df.drop(columns='date')

### Compare June and December data across all years

In [6]:
from scipy import stats

In [7]:
# Filter data for desired months
new_df = df[(df.index.month == 6)]
new_df

               id      station  prcp  tobs
date
2010-06-01    134  USC00519397  0.00  78.0
2010-06-02    135  USC00519397  0.01  76.0
2010-06-03    136  USC00519397  0.00  78.0
2010-06-04    137  USC00519397  0.00  76.0
2010-06-05    138  USC00519397  0.00  77.0
...           ...          ...   ...   ...
2017-06-26  19493  USC00516128  0.02  79.0
2017-06-27  19494  USC00516128  0.10  74.0
2017-06-28  19495  USC00516128  0.02  74.0
2017-06-29  19496  USC00516128  0.04  76.0
2017-06-30  19497  USC00516128  0.20  75.0

[1700 rows x 4 columns]

In [8]:
new_df = df[df.index.month.isin([6,7,8,9,10,11,12])]
new_df

               id      station  prcp  tobs
date
2010-06-01    134  USC00519397  0.00  78.0
2010-06-02    135  USC00519397  0.01  76.0
2010-06-03    136  USC00519397  0.00  78.0
2010-06-04    137  USC00519397  0.00  76.0
2010-06-05    138  USC00519397  0.00  77.0
...           ...          ...   ...   ...
2017-08-19  19546  USC00516128  0.09  71.0
2017-08-20  19547  USC00516128   NaN  78.0
2017-08-21  19548  USC00516128  0.56  76.0
2017-08-22  19549  USC00516128  0.50  76.0
2017-08-23  19550  USC00516128  0.45  76.0

[11074 rows x 4 columns]

In [9]:
# Identify the average temperature for June
june_df = new_df[new_df.index.month == 6]
june_average = june_df['tobs'].mean()
print(f"June's average temperature is {round(june_average, 2)}")

June's average temperature is 74.94

In [10]:
# Identify the average temperature for December
dec_df = new_df[new_df.index.month == 12]
dec_average = dec_df['tobs'].mean()
print(f"December's average temperature is {round(dec_average, 2)}")

December's average temperature is 71.04

In [11]:
# Create collections of temperature data
june_df['tobs'].describe()

count    1700.000000
mean       74.944118
std         3.257417
min        64.000000
25%        73.000000
50%        75.000000
75%        77.000000
max        85.000000
Name: tobs, dtype: float64

In [12]:
dec_df['tobs'].describe()

count    1517.000000
mean       71.041529
std         3.745920
min        56.000000
25%        69.000000
50%        71.000000
75%        74.000000
max        83.000000
Name: tobs, dtype: float64

In [13]:
# Run paired t-test
stats.ttest_ind(june_df['tobs'], dec_df['tobs'], equal_var=False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915755e-187)

### Analysis